@font-face {
    font-family: 'Sharp-Grotesk-Medium';
    font-weight: 400;
    src: url('SharpGroteskMedium25.woff2') format('woff2'),
    url('SharpGroteskBookMedium25.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.abs-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#container {
  position: relative;
  width: 200px;
  height: calc(200px * 16/9);
  perspective: 800px;
}

#frame {
  position: relative;
  width: 110%;
  left: -5%;
  top: -11%;
}

.card {
  background-color: gray;
  transition: all 1s;
  font-family: Sharp-Grotesk-Medium;
  font-size: 24px;
  opacity: 0.8;
}
#card1, #card3 {
}

.to-the-right {
  transform:  translate(100px) rotateY(45deg) translate(-100px) translate(200px);
  background-color: hotpink;
}

.to-the-left {
  transform:  translate(-100px) rotateY(-45deg) translate(100px) translate(-200px);
  background-color: hotpink;
}

.button-bar {
  display: flex;
}
button {
  font-family: Sharp-Grotesk-Medium;
  cursor: pointer;
  color: white;
  height: 48px;
  border-radius: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  width: 140px;
  margin: 0 40px;
  border: none;
  background-color: #212429;
}  

